%reset {
  box-sizing: border-box;
  display: block;
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  // OBS!!! REMOVE WHEN READY TO DEPLOY111
  border: 1px dashed fuchsia;
}
