// ---------
// VARIABLES
// ---------

// Typography
$font-stack: calibri, helvetica, arial, sans-serif;
$font__caption_size: 22px;
$font__table_size: 17px;

// Colors
$clr__black: #000000;
$clr__white: #ffffff;
$clr__blue: #2ab4a5;
$clr__red: #c30000;
$clr__indigo: #4f1aab;
$clr__grey: #767676;
$clr__grey_pale: #999999;
$clr__grey_light: #939393;
$clr__grey_dark: #333333;

// Layout
$content_size_max-width: 1080px;
$summary_size_spacing: 21px;
$link__size_col-gap: 16px;
$size_spacing-min: 8px;

// ------
// DESIGN
// ------

// Grid
$main__grid_size_max-width: $content_size_max-width;

// Summary
$summary__link_spacing: $link__size_col-gap;
$summary__heading_clr_txt: $clr__white;

// Summary list
$list-item__heading_clr: $clr__white;
$list-item__subheading_clr: $clr__grey_light;
$list-item__image-alt_clr: $clr__white;
$list-item__border_clr_team-mercedes: $clr__blue;
$list-item__border_clr_team-ferrari: $clr__red;
$list-item__border_clr_team-williams: $clr__white;
$list-item__border_clr_team-red-bull: clr__indigo;
$list-item_clr_bg: $clr__black;

// Info
$info_size_margin: $size_spacing-min;
$info_size_padding: $summary_size_spacing;
$info_clr_bg: $clr__black;

$info__image_size_padding: $summary_size_spacing / 2;
$info__image_clr_bg: $clr__grey_dark;

$info__caption_size_margin: $summary_size_spacing;
$info__caption_size_text: $font__caption_size;
$info__caption_clr_text: $clr__white;

$info__table_size_text: $font__table_size;
$info__table_clr_text: $clr__grey_pale;
